fastapi
uvicorn
python-dotenv
python-multipart
pypdf
langchain
langchain-community
sentence-transformers
faiss-cpu
langchain-text-splitters
langchain-huggingface
groq
# Force CPU version of PyTorch to save space
torch --index-url https://download.pytorch.org/whl/cpu