fastapi
uvicorn
python-dotenv
pypdf
langchain
langchain-community
sentence-transformers
faiss-cpu
groq
# Force CPU version of PyTorch to save space
torch --index-url https://download.pytorch.org/whl/cpu